# Node.js dependencies
server/node_modules/
server/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Build output
/dist
/build
/coverage

# IDE or text editor files
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# Package lock files
package-lock.json
yarn.lock

# Optional: Ignore specific files (e.g., if you use a specific local config file)
# config/local-config.json
